{% extends 'main.html' %}

{% block content %}
<!-- About section-->
<section id="about">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>About this page</h2>
                <p class="lead">This is a basic django application to create room, topic.:</p>
                <ul>
                    <li>Login/Register Logout</li>
                    <li>Topics</li>
                    <li>Rooms</li>
                    <li>CRUD Rooms user based</li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock  %}