{% extends 'main.html' %}

{% block  content%}
    <!-- Header-->
    <header class="bg-primary bg-gradient text-white">
        <div class="container px-4 text-center">
            <h1 class="fw-bolder">Welcome 
                
                {% if request.user.is_authenticated %}
                    @{{ request.user }},
                {% endif %}
                    
                to Django Intial App</h1>
            <p class="lead">This is <span class="text-lg badge badge-secondary">Room</span> app build in Django</p>
            <a class="btn btn-lg btn-light" href="#room-cards">Start scrolling!</a>
        </div>
    </header>
    
    <div class="d-grid container-fluid" style="grid-template-columns: 1fr 3fr 1fr;">
        <!-- Topics Section -->
        <section class="details-card" id="topic-cards">
            <div class="container">
                <h1>Topics</h1>
                <hr>
                {% include 'base/components/topics/topic-list.html' %}
            </div>
        </section>
         <!-- Rooms Section -->
        <section class="details-card" id="room-cards">
            <div class="container">
                <h1>Rooms</h1>
                <hr>
                {% include 'base/components/rooms/room-list.html' %}
            </div>
        </section>
         <!-- Activities Section -->
        <section class="details-card" id="activities-cards">
            <div class="container">
                <h1>Recent Activities</h1>
                <hr>
                {% include 'base/components/activities.html' %}
            </div>
        </section>
    </div>
    

   
    
{% endblock  %}