{% extends 'main.html' %}

{% block  content%}
    <!-- Header-->
    <header class="bg-primary bg-gradient text-white">
        <div class="container px-4 text-center">
            <h1 class="fw-bolder">Welcome 
                
                {% if request.user.is_authenticated %}
                    @{{ request.user }},
                {% endif %}
                    
                to Django Intial App</h1>
            <p class="lead">This is <span class="text-lg badge badge-secondary">Room</span> app build in Django</p>
            <a class="btn btn-lg btn-light" href="#room-cards">Start scrolling!</a>
        </div>
    </header>
    
    <!-- Topics Section -->
    <section class="details-card" id="topic-cards">
        <div class="container">
            <h1>Topics <a href="{% url 'topics' %}" class="pull-right text-xs text-secondary text-decoration-none text-muted"><small style="font-size: 20px">View All</small></a></h1>
            {% include 'base/components/topics.html' %}
        </div>
    </section>

    <!-- Rooms Section -->
    <section class="details-card" id="room-cards">
        <div class="container">
            <h1>Rooms</h1>
            {% include 'base/components/rooms.html' %}
        </div>
    </section>
    
{% endblock  %}